*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --slate: #434455;
  --navyblue: #2e2f42;
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1158px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

/*header*/
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  gap: 76px;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-list-item {
  color: var(--navyblue);
  display: flex;
  padding: 24px 0;
}

.header-list-item:hover,
.header-list-item:focus {
  color: var(--ocean);
}
.header-nav-link {
  display: block;
}

.contacts-list {
  display: flex;
  padding: 24px 0;
  gap: 40px;
}

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  margin-right: 76px;
}

.logo-blue {
  color: var(--navyblue);
}

.logo-white {
  color: var(--cloud);
}

.contacts {
  font-style: normal;
}

.contacts-item {
  margin-right: 40px;
}
.contacts-item:last-child {
  margin-right: 0;
}

.contacts-link {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

/* Section 1 */

.intro {
  background: var(--navyblue);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 188px 0;
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro .container {
  color: var(--white);
  text-align: center;
  max-width: 496px;
  width: 100%;
  font-size: 56px;
  letter-spacing: 1.12px;
  margin-bottom: 48px;
}

.intro-button {
  background: var(--iris);
  font-family: "Roboto", sans-serif;
  color: var(--white);
  display: inline-block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
}

.intro-button:hover,
.intro-button:focus {
  background: var(--ocean);
}

/* Section 2 */
.features {
  padding: 120px 0;
}

.features-title {
  display: none;
}

.features-list {
  display: flex;
  width: calc((100% - 72px) / 4);
}
.features-item {
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
}
.features-item:last-child {
  margin-right: 0;
}

/* Section 3 */
.work {
  padding-bottom: 120px;
}

.work-title {
  margin-bottom: 72px;
}

/*.work-item {
}*/

.work-item:last-child {
  margin-right: 0;
}

/* Section 4*/

.team {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  padding: 32px 0;
}
.section-title {
  color: var(--navyblue);
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
.section-item-title {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  text-align: center;
}

.section-item-info {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: var(--sate);
  text-align: center;
}

.list {
  list-style: none;
  display: flex;
  gap: 8px;
}

.card-set {
  display: flex;
  gap: 24px;
}

/* Footer*/
.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.footer-logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 76px;
  margin-bottom: 16px;
}

.footer-logo-white {
  color: var(--cloud);
  display: inline-block;
}

.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  /* Body */
  letter-spacing: 0.32px;
  width: 264px;
}

/* Portfolio  */

/* Section 1 portfolio*/
.portfolio-content {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-intro {
  display: none;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-btn {
  color: var(--iris);
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  background-color: var(--cloud);
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  justify-content: center;
  align-items: center;

  /* Button Text */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  row-gap: 48px;
}

.portfolio-info {
  width: calc((100% - 48px) / 3);
}

.portfolio-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
